# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5cdb9593ee318383aebed052446158f7665502eb3851d89ca703a46e7d0ace88670cb8f3c578a053ff21f2d866d4dae616e45ba067502aeac1f0d8f787c2ee42

test:
  secret_key_base: 90e9f07d286d28a4835b28f5751724183a30d64850573e1d4a9d77885f7617a7382ed3bff880b9c7658cba4b44e629ca518e47c609b53b710425f0b096d86903

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
