.header {
  height: 100px;
  margin-bottom: 50px;
  .logout {
    float: right;
    padding: 25px;
  }
  .middle {
    border-bottom: 1px solid;
  }
}

.landing-page {
  .box {
    padding: 85px 100px;
  }
  .box h1 {
    margin-bottom: 20px;
  }
  .action {
    padding: 10px 35%;
  }
  .ready-btn {
    background: #007E33;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
  }
  .field label {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }
}

.signup-page {
  .right-side {
    .field {
      width: 75%;
      padding: 0;
      margin: 0;
      display: inline-block;
    }
    .action {
      display: inline-block;
    }
  }
  .action {
    padding: 10px 0px;
  }
  .ready-btn {
    background: #007E33;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
  }
  .field label {
    margin: 10px 0px 0px 0px;
    font-weight: bold;
    font-size: 14px;
  }
  .left-side img {
    max-width: 100%;
  }
  .right-side h1 {
    font-size: 70px;
  }
}